@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Does hot reloading work?</p>
    <p>Yes it does</p>


    &copy; @DateTime.Now.Year Professional Training Ltd.
</div>
