@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <table class="table" id="tblMembers">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section scripts {
    <script src="/js/home.js">
    </script>
}
